p {
    margin: 10px 0px 10px 0px;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px 0 0 0;
    width: 100%;
    background-image: url('../images/circuit.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

img {
    border-width: 0px;
    border-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#membertable {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}

.hmembercs,
.membercs {
    border-left-style: solid;
    border-left-width: thin;

}

.hmembername,
.hmembercs,
.hmembercity,
.membercity,
.hmemberweb {
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: thin;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.hmemberweb,
.memberweb {
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: thin;

    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #CCCCCC;
}

#membertable a {
    color: blue;
    text-decoration: none;
}

#membertable a:hover {
    color: red;
    text-decoration: none;
}

#tableheader {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    background-color: #CCCCCC;
    color: #000000;
}

#menu ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: large;
}

#menu li,
#headerright li {
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
}

#menu a:hover {
    color: red;
    text-decoration: underline;
}

#menu a,
#headerright a {
    text-decoration: none;
    color: black;
}

#footer a {
    border-style: none;
    border-width: 0px;
    text-decoration: none;
    color: black;
}

#footer a:hover {
    color: black;
    text-decoration: underline;
    border-style: none;
    border-width: 0px;
}

#riroc a:hover {
    color: black;
    text-decoration: underline;
}

#riroc a {
    text-decoration: none;
    color: black;
}


.header {
    margin: auto auto auto auto;
    height: 125px;
    width: 1024px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 5PX;
    border-top-color: #000AD5;
}

.headerleft {
    width: 122px;
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 5px 20px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.headercenter {
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 5px;
}

.headerright {
    width: 122px;
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 5px 20px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.menu {
    margin: auto auto 0px auto;
    height: 30px;
    width: 1024px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 30px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 2PX;
    border-top-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    text-align: center;
}

.content {
    padding: 0px 0px 20px 0px;
    margin: auto;
    width: 1024px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 5PX;
    border-top-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
}

.sc_title {
    margin: 10px auto auto auto;
    width: 924px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    font-size: 28px;
    line-height: 38px;
}


.product_1 {
    border: 1px dashed #000000;
    width: 231px;
    height: 275px;
    float: left;
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 39px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.product_2,
.product_3,
.product_4 {
    border: 1px dashed #000000;
    width: 231px;
    height: 275px;
    float: left;
    position: relative;
    padding: 0px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.product_1 a:hover,
.product_4 a:hover,
.product_4 a:hover,
.product_4 a:hover {
    color: black;
    text-decoration: underline;
}

.product_1 a,
.product_2 a,
.product_3 a,
.product_4 a {
    text-decoration: none;
    color: black;
}

.eventimage {
    text-align: center;
}

.eventtitle {
    text-align: center;
    font-size: x-large;
}

.subeventitle {
    text-align: center;
    font-size: x-large;
    color: blue;
}

.footer {
    margin: 20px auto 10px auto;
    width: 1024px;
    height: 65px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.footerleft {
    width: 200px;
    float: left;
    position: relative;
    margin: auto;
    text-align: left;
    padding: 5px 0px 0px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.footercenter {
    width: 200px;
    height: 60px;
    float: left;
    position: relative;
    margin: auto;
    text-align: left;
    padding: 5px 20px 0px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #000000;
}

.footericon {
    border-style: none;
    border-width: 0px;
    width: 25px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-image: none;
}

.footerright {
    width: 490px;
    height: 60px;
    float: left;
    position: relative;
    margin: auto auto auto auto;
    text-align: center;
    padding: 5px 20px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    font-size: 40px;
    line-height: 60px;
    border-left-style: dotted;
    border-left-width: 1px;
    border-left-color: #000000;
}

.detail,
.faqdetail {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 50px 80px 50px 80px;
    background-color: #FFFFFF;
    color: #333333;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.centerdetail {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    color: #990033;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
}

.centerdetail_large {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 0px 40px 0px 40px;
    background-color: #FFFFFF;
    color: #333333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.faqdetail {
    padding: 0px 40px 0px 40px;
}

.container {
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
}

.slides {
    padding: 0px 0px 0px 0px;
    margin: auto;
    width: 1024px;
    height: 200px;
    visibility: hidden;
}

.riroc {
    margin: 20px auto 10px auto;
    width: 1024px;
    height: 35px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 35px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
    text-align: center;
}

.biophotoleft {
    border: 1px solid #000000;
    width: 250px;
    height: 280px;
    float: left;
    position: relative;
    margin: 0px;
    text-align: center;
    padding: 5px;
    margin: 23px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    font-size: 18px;
    line-height: 24PX;
}

.rescueholder {
    margin: auto;
    float: none;
    position: inherit;
    width: 924px;
    height: 320px;
    text-align: center;
}

.phototopright {
    border: 1px solid #000000;
    width: 335px;
    height: 435px;
    float: right;
    position: relative;
    margin: auto auto 20px 20px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    font-size: 40px;
    line-height: 335PX;
}

.photobottomleft {
    border: 1px solid #000000;
    width: 335px;
    height: 246px;
    float: left;
    position: relative;
    margin: 0px 20px 0px 0px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
    font-size: 40px;
    line-height: 335px;
}


#contact {
    width: 880px;
    height: 800px;
    margin-top: 40px;
    margin-right: 72px;
    margin-left: 72px;
    border: 1px dashed #000000;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}


#faq {
    width: 904px;
    margin: 0;
    padding: 0px 60px 0px 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: #000000;
}

#faq ul ol {}

#faq ul li {
    list-style-type: none;
    background-image: url(https://fcarc.net/assets/images/icons/faq.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 60px;
}

#faq ul li p {
    padding: 8px;
}

#faq ul li p em {
    display: block;
}

#commonmeasurements {
    border: 1px solid #000000;
    width: 784px;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

#commonmeasurements td {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

.cmtitle {
    padding: 0px;
    margin: 0px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.cmcontent {}

#dogimage {
    width: 804px;
    height: 400px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#howtomeasure {}

#howtomeasure ul ol {}

#howtomeasure ul li {
    list-style-type: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 20px;
}

#howtomeasure ul li p {
    padding: 8px;
}

#howtomeasure ul li p em {
    display: block;
}

#comingsoon {
    border: 20px double #CCCCCC;
    margin: 20px auto auto auto;
    width: 800px;
    height: 400px;
    padding: 0px;
    background-color: #FFFFFF;
    background-image: url('https://fcarc.net/assets/images/coming_soon.jpg');
    background-repeat: no-repeat;
}

#contact-form {
    background-color: #FFFFFF;
    width: 800px;
    height: 580px;
    padding: 20px;
    margin: 20px 92px 20px 92px;
    border: 3px solid #CC00CC;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 2px;
    font-weight: bold;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width: 790PX;
    border: 1px solid #CC00CC;
    margin-bottom: 20px;
    padding: 4px;
    font-weight: normal;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1px solid #CC00CC;
    background-color: #FFFF99;
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#contact-form label {
    display: block;
}

#contact-form .required {
    color: #F00;
}

#contact-form #submitbutton {
    width: 200px;
    background-color: #333;
    color: #FFF;
    border: none;
    display: block;
    float: right;
    margin-bottom: 0px;
    margin-right: 6px;
    background-color: #CCCCCC;
    -moz-border-radius: 8px;
}

#contact-form #submitbutton:hover {
    background-color: #006699;
}

#contact-form #submitbutton:active {
    position: relative;
    top: 1px;
}


/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required,
textarea:required {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color: #CCC;
    font-style: italic;
}

/* mozilla */
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #CCC;
    font-style: italic;
}

/* ie (faux placeholder) */
input.placeholder-text,
textarea.placeholder-text {
    color: #CCC;
    font-style: italic;
}

.supplierstitle {
    text-align: center;
    font-size: x-large;
}

table.MsoTableGrid {
    border: solid windowtext 1.0pt;
    font-size: 11.0pt;
    font-family: "Calibri", sans-serif;
}

.suppliersentry {
    width: 328px;
}

.abouttitle {
    text-align: center;
}

.aboutussubtitle {
    font-size: x-large;
}