p {
    margin: 10px 0px 10px 0px;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px 0 0 0;
    width: 100%;
    background-image: url('../images/circuit.png');
    background-repeat: repeat;
    background-attachment: fixed;
}

img {
    border-width: 0px;
    border-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#menu ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: large;
}

#menu li,
#headerright li {
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
}

#menu a:hover {
    color: red;
    text-decoration: underline;
}

#menu a,
#headerright a {
    text-decoration: none;
    color: black;
}

#riroc a:hover {
    color: black;
    text-decoration: underline;
}

#riroc a {
    text-decoration: none;
    color: black;
}


.header {
    margin: auto auto auto auto;
    height: 125px;
    width: 1024px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 5PX;
    border-top-color: #000AD5;
}

.headerleft {
    width: 122px;
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 7px 20px 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.headercenter {
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 7px;
}

.headerright {
    width: 122px;
    float: left;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 7px 20px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.menu {
    margin: auto auto 0px auto;
    height: 30px;
    width: 1024px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 30px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 2PX;
    border-top-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
    text-align: center;
}

.content {
    padding: 0px 0px 20px 0px;
    margin: auto;
    width: 1024px;
    background-color: #ffffff;
    border-top-style: solid;
    border-top-width: 5PX;
    border-top-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #000000;
}

.detail,
.faqdetail {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 50px 80px 50px 80px;
    background-color: #FFFFFF;
    color: #333333;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.centerdetail {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    color: #990033;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: bold;
}

.centerdetail_large {
    border-width: 0px;
    border-style: none;
    margin: 0px;
    padding: 0px 40px 0px 40px;
    background-color: #FFFFFF;
    color: #333333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
}

.slides {
    padding: 0px 0px 0px 0px;
    margin: auto;
    width: 1024px;
    height: 200px;
    visibility: hidden;
}

.riroc {
    margin: 20px auto 10px auto;
    width: 1024px;
    height: 35px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    line-height: 35px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #000000;
    text-align: center;
}

.detail p {
    line-height: 1.35; 
}

.detail {
    line-height: 1.35; 
}

.supplierstitle {
    text-align: center;
    font-size: x-large;
}

.suppliersentry {
    width: 328px;
}

.abouttitle {
    text-align: center;
}

.aboutussubtitle {
    font-size: x-large;
}

.rp_body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.rp_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 570px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 175px;
    height: 155px;
    background-color: #e0f7fa;
    color: #212121;
    border: 1px solid #424242;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px;
}

.box:hover {
    transform: translateY(-3px);
}

.box.highlighted {
    background-color: #e6ffe6;
}

.box-title {
    background-color: #424242;
    color: #ffffff;
    padding: 7px 8px;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2;
    border-bottom: 1px solid #555;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title span.mode-text {
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-title span.digital-mode {
    color: #FF6666;
}

.box-title span.analog-mode {
    color: #FFFF00;
}

.box-middle-content {
    flex-grow: 1;
    padding: 5px 8px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.box-middle-content p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    overflow: hidden;
}

.box-middle-content p:first-child {
    font-weight: bold;
}

.box-footer {
    background-color: #1A237E;
    color: #ffffff;
    padding: 7px 8px;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2;
    border-top: 1px solid #3F51B5;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer span.state-abbr {
    font-size: 0.9em;
    color: #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.box-info-overlay p {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
}

.box:hover .box-info-overlay {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 550px) {
    .box {
        width: calc(50% - 10px);
    }
}

@media (max-width: 350px) {
    .box {
        width: calc(100% - 10px);
    }
}